{% extends 'myapp/base.html' %}
{% block body_block %}
	<!-- <p>This is the about page!</p> -->
	<!-- <p>Number of hits: {{visits}}</p> -->
	<div class="model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <p>This is ABOUT PAGE.</p>
      </div>
      
    </div>
  </div>
</div>


<ul class="nav nav-pills">
  <li class="active"><a href="#">Page Hits<span class="badge">{{visits}}</span></a></li>
  </ul> 
{% endblock %}
