body {
	font-size: 20px;
	background-color:#c0c0c0;
	color:black;
	

h1{
	font-size: 20px;
	background-color:#ADD8E6;
	color:orange;
}

h2{
	font-size: 20px;
	background-color:#ADD8E6;
	color:yellow;
}
